<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Cleaner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>URL Cleaner</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div contenteditable="true" id="content" placeholder="Enter text here..."
                 style="border: 1px solid #cccccc; padding: 10px; height: 150px; overflow: auto; white-space: pre-wrap;">
            </div>
            <input type="hidden" id="hidden-content" name="content">
            <input type="file" name="file"><br>
            <button type="submit" onclick="submitContent()">Clean URLs</button>
        </form>
        {% if result %}
        <div id="result" class="result">{{ result|safe }}</div>
        <button onclick="copyToClipboard()">Copy to Clipboard</button>
        {% endif %}
    </div>
</body>
</html>
